/PeonyOffice/nbproject/private/
/PeonyOffice/GardenCommonsWrapper/nbproject/private/
/PeonyOffice/ThirdPartyCommons/nbproject/private/
/PeonyOffice/PeonyBusinessService/nbproject/private/
/LotusMaster/nbproject/private/
/RoseWeb/nbproject/private/
/ZcaDocMaster/nbproject/private/
/PeonyOffice/PeonyWelcome/nbproject/private/
/PeonyOffice/PeonyKernel/nbproject/private/
/PeonyOffice/PeonyEmailService/nbproject/private/
/PeonyOffice/PeonyTaxcorpService/nbproject/private/